@function circle-position($size, $border-size, $coordinate) {
  $center: ($size / 2) - $border-size - ($border-size / 2);
  $half-size-border: ($size / 2) - $border-size + ($border-size / 2);
	// root value sqrt(2)/2 = 0.70710678118
  $root: 0.70710678118;
  @if $coordinate == y {
    @return round($center - ($half-size-border * $root));
  } @else {
	  @return round($center + ($half-size-border * $root));
	}
}

@mixin loader01(
	$size: $loader-size,
	$color: $loader-color,
	$border-size: $loader-border-size,
	$duration: $loader-animation-duration,
	$align: null
) {
  width: $size;
  height: $size;
  border: $border-size solid $color;
  border-right-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate $duration linear infinite;
  @if ($align == center) {
    margin: 0 auto;
  }
  @if ($align == middle) {
    top: 50%;
    margin: -$size / 2 auto 0;
	}

  &::after {
    content: '';
    width: $border-size;
    height: $border-size;
    background: $color;
    border-radius: 50%;
    position: absolute;
    top: circle-position($size, $border-size, y);
    left: circle-position($size, $border-size, x);
  }

  @include loader-rotate;
}
