@mixin loader11(
  $size: $loader-size,
  $color: $loader-color,
  $duration: $loader-animation-duration,
  $gap: $loader-gap,
  $align: null
) {
  $unique-name: unique-id();
  width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow: 0 $size * 2 0 $color;
  position: relative;
  animation: #{'loader11-'}#{$unique-name} $duration ease-in-out alternate infinite;
  animation-delay: ($duration / 5) * 2;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    box-shadow: 0 $size * 2 0 $color;
    animation: #{'loader11-'}#{$unique-name} $duration ease-in-out alternate infinite;
  }

  &::before {
    left: -($size + $gap);
    animation-delay: ($duration / 5) * 3;

  }

  &::after {
    right: -($size + $gap);
    animation-delay: ($duration / 5) * 1;
  }

  @if ($align == center) {
    margin-left: auto;
    margin-right: auto;
  }
  @if ($align == middle) {
    top: 50%;
    margin: -($size * 2 + $size / 2) auto 0;
  } @else {
    top: -$size * 2;
  }
  @keyframes #{'loader11-'}#{$unique-name} {
    0% {
      box-shadow: 0 $size * 2 0 $color;
    }

    100% {
      box-shadow: 0 $size 0 $color;
    }
  }
}
