$loader-color:              #0052ec !default;
$loader-size:                  56px !default;
$loader-height:                20px !default;
$loader-border-size:            8px !default;
$loader-gap:                   12px !default;
$loader-animation-duration:      1s !default;
