@import 'variables';
@import 'animations';

@import 'loaders/loader01';
@import 'loaders/loader02';
@import 'loaders/loader03';
@import 'loaders/loader04';
@import 'loaders/loader05';
@import 'loaders/loader06';
@import 'loaders/loader07';
@import 'loaders/loader08';
@import 'loaders/loader09';
@import 'loaders/loader10';
@import 'loaders/loader11';
@import 'loaders/loader12';
